.center {
  text-align:center;
}
.top {
  background-color:lightgray;
  height:60px;
}
.top_invisible {
  background-color:white;
  height:60px;
}
.image {
  position:relative;
  top:100px;
  width:150px;
  height:300px;
}
.login {
  position:relative;
  top:150px;
  margin-left:20px;
  font-size:30px;
  font-weight:bolder;
}
.loginBox {
  position:absolute;
  left:150px;
  width:200px;
  height:40px;
  font-size:20px;
  outline: none;
  border: 0;
  background-color:lightgray;
}
button {
  background-color:lightgray;
  width:150px;
  height:70px;
  position:relative;
  top:400px;
  font-size:20px;
}
.join {
  text-align:center;
  position:relative;
  top:250px;
}